<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Real data with Vue</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

  <script src="https://unpkg.com/vue"></script>
  <script src="../apiKey.js"> </script>

</head>
<body>

  <section id="app" class="section container">
    <div v-if="gifs" v-for="gif in gifs">
      <img :src="gif.images.original.url">
    </div>
  </section>

  <script src="js/app.js">  </script>

</body>
</html>
